<launch>

  <group>
    <node pkg="fmCSP" name="serial_string" type="serial_string">
      <param name="device" value="/dev/ttyUSB0" />
      <param name="baudrate" value="3000000" />
    </node>
  </group>

  <group>
    <node pkg="unitylink" name="unitylink" type="unitylink"/>
  </group>

  <group>
    <node pkg="MotorCtrl" name="MotorCtrl" type="MotorCtrl"/>
  </group>

  <group>
    <node pkg="ulOutputTransformer" name="ulOutputTransformer" type="ulOutputTransformer"/>
  </group>
</launch>
